<manifest xmlns:android="http://schemas.android.com/apk/res/android"
<<<<<<<< HEAD:fApp/app/android/app/src/debug/AndroidManifest.xml
    package="com.example.app">
========
    package="com.example.myapp">
>>>>>>>> 762df1009482932dc18b61c7e3613c61684b6f13:flutter/myapp/android/app/src/debug/AndroidManifest.xml
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
